.spinner {
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-top-color: var(--color-primary);
    animation: spin 0.6s linear infinite;
}

.primary {
    border-top-color: var(--color-primary);
}

.white {
    border-top-color: white;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}